div.label-container {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 .5vw;
    padding: 0 .1vw 0 0;
    box-sizing: border-box;
    line-height: 1;
    position: relative;
  }

  label.info{
    align-self: flex-start;
  }
  
  label.info::after{
    content: attr(data-tooltip);
    padding: 2px;
    display: none;
    position: absolute;
    width: max-content;
    max-width: 20vw;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    white-space: normal;
    height: auto;
    z-index: 1;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
  }

  label.info.right::after {
    right: 0;
  }

  label.info:hover::after{
    display: block;
  }

@media (max-width: 900px) {
  label.info::after{
    max-width: 40vw;
    margin: auto;
  }
}