
input {
    width: calc(100% - 2px);
    height: 10px;
    border-radius: 5px;
    margin: 0 1px;
    padding: 0;
    box-shadow: inset 0 0 0 1px #ccc;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    background: #fdfdfd;
    background-image: linear-gradient(#e6e6e6, #e6e6e6);
    background-size: 0 100%;
    background-repeat: no-repeat;
}

input::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
input::-moz-range-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}
input::-ms-track {
    -webkit-appearance: none;
    box-shadow: none;
    border: none;
    background: transparent;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 17px;
    border-radius: 30%;
    background: #fdfdfd;
    box-shadow: inset 0 0 0 1px #ccc;
    transition: background .3s ease-in-out;
}
input::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 17px;
    border-radius: 30%;
    background: #fdfdfd;
    box-shadow: inset 0 0 0 1px #ccc;
    transition: background .3s ease-in-out;
}
input::-ms-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    height: 20px;
    width: 17px;
    border-radius: 30%;
    background: #fdfdfd;
    box-shadow: inset 0 0 0 1px #ccc;
    transition: background .3s ease-in-out;
}

input::-ms-ticks-after { 
    display: none; 
}
input::-ms-ticks-before { 
    display: none; 
}
input::-ms-tooltip { 
    display: none;
}