.dropbox {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}

.dropbox:hover, .dropbox.hover {
    background-color: #f5f5f5;
    border-color: #b8b8b8;
}

.dropbox:active, .dropbox.active {
    box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

img {
    height: 3em;
    opacity: 0.6;
}

input {
    display: none;
}