html {
  scroll-behavior: smooth;
}

.hidden {
  display: none !important;
}

/* From https://www.w3schools.com/howto/howto_css_loader.asp */

.panel.loading {
  position: relative;
}

.panel .loading-overlay {
  display: none;
}

.loading-overlay {
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; 
  background-color: rgba(63, 63, 63, 0.1);
  align-items: center;
  justify-content: center;
}

.loading-overlay img {
  width: 100px;
  height: 100px;
  animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.panel.loading .loading-overlay {
  display: flex;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: #333;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  box-shadow: 1px 1px 5px 0 #000;
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  border-radius: 5px;
}

.panel {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding: 0.8vw;
  margin: 0 0.5vw 1vw 0.5vw;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  flex-grow: 1;
  display: block;
  width: 100%;
  overflow: visible;
}

.sticky-container {
  position: -webkit-sticky;
  position: sticky;
  top: 0.8vw;
}

section {
  margin: 0 auto;
  width: 95%;
}

.row {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.main {
  /*flex-grow: 1;*/
  margin-right: 0.5vw;
  width: 100%;
  flex: 85;
}

.sidebar {
  width: 100%;
  margin-left: 0.5vw;
  flex: 15;
  display: flex;
  flex-direction: column;
}


h2 {
  font-size: large;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
    background-color: #fff;
}

/* COPIED FROM BOKEH!!! */

input-spin, input-select, input-slider, input-file {
  flex-grow: 1;
  margin: 0 0.3vw;
  width: 100%;
  box-sizing: border-box;
}
 
input-spin:first-child, 
input-select:first-child, 
input-slider:first-child,
input-file:first-child,
.panel:first-child {
  margin-left: 0;
}

input-spin:last-child, 
input-select:last-child, 
input-slider:last-child,
input-file:last-child,
.panel:last-child {
  margin-right: 0;
}

.input-row {
  width: 100%;
  margin: 0.5vw 0;
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: start;
  -webkit-align-items: start;
  flex-direction: row;
  -webkit-flex-direction: row;
  white-space: nowrap;
}

.section-title {
  padding: 0.2vw 0;
  margin: 0 0 1vw;
  border-bottom: 1px solid #ccc;
  width: auto;
  font-size: large;
  font-weight: bold;
  box-sizing: border-box;
}

button {
  color: #333;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.5vw 1vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: #f5f5f5;
  border-color: #b8b8b8;
}

button:active {
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

button#download {
  text-align: center;
  margin: 1vw 5%;
  width: 90%;
  box-sizing: border-box;
}

div.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin: 1vw 0;
}

.instrument-menu {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-self: flex-end;
}

.instrument-menu .instrument {
  font-size: large;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  padding: 0.5vw;
  white-space: nowrap;
  cursor: pointer;
  color: #666666;
  border: 1px solid transparent;
  border-top-width: 3px;
  border-bottom-width: 0;
  box-sizing: border-box;
  /* transition property for animation on selection? */
}

.instrument-menu .instrument:hover {
  background-color: #f2f2f2;
}

.instrument-menu .instrument.selected {
  color: #4d4d4d;
  background-color: white;
  border-color: #e6e6e6;
}



/* For mobile & vertical tablet, stack sections */
@media (max-width: 900px) {

  .instrument-menu {
    flex-grow: 1;
    overflow-x: scroll;
    margin-right: 10px;
  }

  .instrument-menu .instrument {
    padding: 1vw;
  }

  .main, .sidebar {
    margin: 0;
  }

  /* If panel is closed, don't display loading symbol */
  .panel.loading:not(.open):not(#output-plots) .loading-overlay {
    display: none;
  }

  .panel:not(#output-plots) .loading-overlay {
    cursor: pointer;
  }

  .panel, .input_panels .panel, .panel.first, .panel.last, .title-bar {
    display: block;
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    min-height: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  .panel div.input-row,
  .panel output-number, 
  .panel button {
    display: none;
  }

  .panel.open div.input-row,
  .panel.open output-number {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-grow: 1;
  }

  .panel.open button#download {
    display: block;
    width: calc(100% - 1vw);
    margin: 1vw 0.5vw;
    padding: 1vw;
  }

  .output-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
  }

  .panel.open .section-title {
    border-bottom: 1px solid #ccc;
    margin: 0 0.5vw 1vw;
  }

  .row {
    flex-direction: column;
  }

  .section-title {
    border: none;
    margin-bottom: 0;
    background-image: url(../static/select.svg);
    background-position: right 0.5em center;
    background-size: 8px 6px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .scroll-to-top {
    display: block;
  }

}