{% extends base %}

{% block title%}W.M.K.O. ETC{% endblock %}

{% block postamble %}
    <link rel='icon' type='image/x-icon' href='prototype/static/favicon.ico'>
    <style>
        {% include 'styles.css' %}
    </style>
    <meta name="viewport" content="width=device-width,initial-scale=1" id="viewport-meta" />
    <meta charset='utf-8'>
    <script>
        const errorHandler = (e) => {
            if (e.message.includes('not connected')) {                  
                alert('Connection lost, please refresh page');
            } else if (e.message.includes('Unhandled ERROR')) {
                alert('Server error, please refresh page');
            } else {
                alert('Unexpected '+e.message+'\nPlease refresh page');
            }
            location.reload();
        };
        window.addEventListener('error', errorHandler, {once:true});  // Set once to true to prevent duplicate js alerts before reloading page
        const resizeHandler = (e) => {
            // If page is resized, reset contents to size appropriately
            if (e.isTrusted && typeof window.Bokeh.documents[0] != 'undefined') {
                const reset = window.Bokeh.documents[0].get_model_by_name('reset_contents_container');
                if (reset.tags[0] === false){
                    reset.tags = [true];
                }
            }
            // Handle position of text for plotting overlay, ensure that it's centered
            if (typeof window.Bokeh.documents[0] != 'undefined') {
                const plot = window.Bokeh.documents[0].get_model_by_name('vs_plot');
                if (plot != null && plot.select_one('text').visible){
                    plot.select_one('text').x = plot.inner_width/2;
                    plot.select_one('text').y = plot.inner_height/2;
                }
            }

        };
        window.addEventListener('resize', resizeHandler);
    </script>
{% endblock %}

{% block contents %}
    <section>
        <div class='title-bar'>
            <h2>W.M.K.O. Exposure Time Calculator</h2>
            {{ embed(roots.reset_button) }}
        </div>
        <div class="instrument-menu">
            {{ embed(roots.instruments) }}
        </div>
        <div class='row'>
            <div class='main'>
                <div class="input row">
                    <div class="panel first">
                        {{ embed(roots.exposure_panel) }}
                    </div>
                    <div class="panel">
                        {{ embed(roots.source_panel) }}
                    </div>
                    <div class='panel'>
                        {{ embed(roots.instrument_panel) }}
                    </div>
                    <div class="panel">
                        {{ embed(roots.atmosphere_panel) }}
                    </div>
                </div>
                <div class="output row">
                    <div class='panel first'>
                        {{ embed(roots.results) }}
                    </div>
                </div>
            </div>
            <div class='sidebar'>
                <div class='panel last'>
                    {{ embed(roots.sidebar) }}
                </div>
            </div>
        </div>
        <article class='instructions'>
            <h3>ETC Instructions</h3>
            {{ embed(roots.instructions) }}
        </article>
    </section>
    {% include 'cookie_message.html' %}

    {{ embed(roots.alert_container) }}
    {{ embed(roots.cookie_container) }}
    {{ embed(roots.page_loaded_container) }}
    {{ embed(roots.reset_contents_container) }}
{% endblock %}