html {
  scroll-behavior: smooth;
}

/* From https://www.w3schools.com/howto/howto_css_loader.asp */

.loading-symbol {
    border: 5px dotted #f3f3f3 !important;
    border-top: 5px dotted #3498db !important;
    border-radius: 50% !important;
    aspect-ratio: 1 !important;
    margin: auto !important;
    width: 50px !important;
    height: 50px !important;
    position: relative !important;
    left: None !important;
    top: None !important;
    animation: spin 1.5s ease-in-out infinite;
}

@keyframes spin {
  0% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

.bk.input_section {
  width: 100% !important;
}

.scroll-to-top {
  position: fixed;
  right: 15px;
  bottom: 15px;
  display: none;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  background: rgba(52, 58, 64, 0.5);
  font-weight: bold;
  font-size: x-large;
  text-decoration: none;
  border-radius: 5px;
}

.panel {
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  padding: 0.8vw;
  margin: 0 0.5vw 1vw 0.5vw;
  min-width: 100px;
  min-height: 100px;
  box-sizing: border-box;
  flex-grow: 1;
  display: block;
  width: 100%;
}

.panel#output-plots {
  min-width: 250px;
}

section {
  margin: 0 auto;
  width: 95%;
}

.row {
  width: 100%;
  display: flex;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  margin-right: 0.5vw;
  width: 100%;
}

.sidebar {
  width: 100%;
  margin-left: 0.5vw;
  flex-shrink: 6;
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

input[type='file'] {
  width: 100% !important;
}


h2 {
  font-size: large;
  margin-block-end: 0.5em;
  margin-block-start: 0.5em;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: small;
}

.sidebar-big p {
  font-size: 1.8vw !important;
  font-weight: bold;
}

.sidebar-container {
  display: flex !important;
  width: 100% !important;
  flex-grow: 1;
  flex-direction: column !important;
  justify-content: space-around !important;
}

.center {
  margin: auto !important;
  position: relative !important;
  top: 0 !important;
  left: 0 !important;
  text-align: center !important;
}

div.paragraph-row {
  width: calc(100% - 10px) !important;
}


/* COPIED FROM BOKEH!!! */

.input, input-spin, input-select, input-slider {
  flex-grow: 1;
  margin: 0 0.3vw;
  width: 100%;
  box-sizing: border-box;
}

.input:first-child, 
input-spin:first-child, 
input-select:first-child, 
input-slider:first-child, 
.panel:first-child {
  margin-left: 0;
}

.input:last-child, 
input-spin:last-child, 
input-select:last-child, 
input-slider:last-child, 
.panel:last-child {
  margin-right: 0;
}

.input-row {
  width: 100%;
  margin: 0.5vw 0;
  display: inline-flex;
  display: -webkit-inline-flex;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  align-items: start;
  -webkit-align-items: start;
  flex-direction: row;
  -webkit-flex-direction: row;
  white-space: nowrap;
}

.section-title {
  padding: 0.2vw 0;
  margin: 0 0.5vw 1vw;
  border-bottom: 1px solid #ccc;
  width: auto;
  font-size: large;
  font-weight: bold;
  box-sizing: border-box;
}

button {
  color: #333;
  background-color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  padding: 0.5vw 1vw;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button:hover {
  background-color: #f5f5f5;
  border-color: #b8b8b8;
}

button:active {
  box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
}

button#download {
  text-align: center;
  margin: 1vw 5%;
  width: 90%;
  box-sizing: border-box;
}

div.title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin: 1vw 0;
}

.instrument-menu {
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  align-self: flex-end;
}

.instrument-menu .instrument {
  font-size: large;
  font-weight: bold;
  border-radius: 4px 4px 0 0;
  padding: 2%;
  white-space: nowrap;
  cursor: pointer;
  color: #666666;
  border: 1px solid transparent;
  border-top-width: 3px;
  border-bottom-width: 0;
  box-sizing: border-box;
  /* transition property for animation on selection? */
}

.instrument-menu .instrument:hover {
  background-color: #f2f2f2;
}

.instrument-menu .instrument.selected {
  color: #4d4d4d;
  background-color: white;
  border-color: #e6e6e6;
}



/* For mobile & vertical tablet, stack sections */
@media (max-width: 900px) {

  .main, .sidebar {
    margin: 0;
  }

  .panel, .input_panels .panel, .panel.first, .panel.last, .title-bar {
    display: block;
    width: 100%;
    margin: 10px auto;
    overflow: hidden;
    min-height: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }

  .panel div.input-row,
  .panel output-number, 
  .panel button {
    display: none;
  }

  .panel.open div.input-row,
  .panel.open output-number {
    display: inline-flex;
    display: -webkit-inline-flex;
    flex-grow: 1;
  }

  .panel.open button#download {
    display: block;
    width: calc(100% - 1vw);
    margin: 1vw 0.5vw;
    padding: 1vw;
  }

  .output-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
  }

  .panel.open .section-title {
    border-bottom: 1px solid #ccc;
    margin: 0 0.5vw 1vw;
  }

  .row {
    flex-direction: column;
  }

  label.info::after{
    max-width: 80vw;
    margin: auto;
  }

  .section-title {
    border: none;
    margin-bottom: 0;
    background-image: url(../static/select.svg);
    background-position: right 0.5em center;
    background-size: 8px 6px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .scroll-to-top {
    display: block;
  }

}